
<div class="row pb-3 text-res">
  
    <div class="col-12 col-md-4 pt-5 text-res">
      <img src="/img/about.jpg" class="img-fluid sticky-top img-res" style="top: 20px;" alt="about-image" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
          <div class="col-12">
            
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 text-res" >
                <div>
                    <h2 >About PINspiration</h2>
                    <p> PINspiration is an online platform for craft enthusiasts and influencers to explore, create, and share unique projects.</p>
                

                <h2>Our Mission</h2>
                <p class="lighter-paragraph">At PINspiration, our mission is to ignite creativity and empower individuals to explore their artistic potential through crafting. We believe everyone can be a DIY enthusiast, and we strive to provide the inspiration, resources, and community support needed to uncover and nurture each person's inner artist.</p>

                <h2>What We Offer</h2>
                <ul class="lighter-paragraph">
                <li><strong>Inspiring Project Ideas:</strong> Discover a wide range of creative DIY projects for all skill levels.</li>
                <li><strong>Step-by-Step Tutorials:</strong> Access clear instructions and visual aids for easy crafting.</li>
                <li><strong>Community and Collaboration:</strong> Connect with fellow crafters, share creations, and exchange ideas.</li>
                <li><strong>Featured Crafters:</strong> Find inspiration in the work of talented crafters.</li>
                <li><strong>Resources and Tips:</strong> Enhance your skills with helpful resources and techniques.</li>
                <li><strong>Variety of Inspirations:</strong> Explore diverse inspirations, including clothing, hair, and more.</li>
                </ul>

                </div>

            </div>
          </div>
    </div>
  </div>



  <div class="row pt-3 text-res">
  

    <div class="col-12 col-md-8">
          <div class="col-12">
            
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 text-res" >
                <div>
                    <h2 >Join the PINspiration Community</h2>
                    <p class="lighter-paragraph">Whether you're a seasoned crafter or just starting your crafting journey, PINspiration welcomes you with open arms. Join our vibrant community of like-minded individuals who are passionate about creativity, self-expression, and the joy of making.</p>
                    

                    <p class="lighter-paragraph">Unleash your imagination, explore new craft projects, share your creations, and be a part of a supportive community that celebrates craftsmanship. Get ready to embark on an exciting crafting adventure with PINspiration!</p>
                    
                    <p class="lighter-paragraph">Visit our website to get started today. Let's craft, create, and inspire together!</p>

                </div>

            </div>
          </div>
    </div>
    <div class="col-12 col-md-4 pt-5 text-res">
        <img src="/img/about2.jpg" class="img-fluid sticky-top img-res" style="top: 20px;" alt="about-image" loading="lazy">
      </div>
  </div>