<h1 class="pb-4">Explore Latest DIYs</h1>

<div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 g-2 g-lg-3">
  <% if(diy != '') { %>
    <% diy.forEach(function(diy, index){ %>
    <a href="/craft/<%= diy._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="<%= diy.image %>" alt="<%= diy.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= diy.name %></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %> 
</div>